{% extends 'account/base_not_logged.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="flex flex-col text-center space-y-6 mb-16">
    <img class="w-[200px] m-auto flex items-center mb-4" src={% static 'logo_blank.png' %} />
    <h2 class="text-2xl">Wprowadź nowe hasło</h2>

    <form method="post">
        {% csrf_token %}
        <fieldset class="module aligned">
            <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
            <div class="form-row field-password1">
            {{ form.new_password1.errors }}
            <div class="flex-container">
                <label for="id_new_password1">Nowe hasło:</label>
                {{ form.new_password1|add_class:"input" }}
            </div>
            </div>
            <div class="form-row field-password2">
            {{ form.new_password2.errors }}
            <div class="flex-container">
                <label for="id_new_password2">Potwierdź nowe hasło:</label>
                {{ form.new_password2|add_class:"input" }}
            </div>
            </div>
        </fieldset>
        <div class="submit-row">
            <input type="submit" value="{% translate 'Change my password' %}">
        </div>
    </form>

    <a href="{% url 'account:signin' %}">Powrót</a>
</div>
{% endblock %}
