{% extends 'account/base_not_logged.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="flex flex-col text-center space-y-6 mb-16">
    <img class="w-[200px] m-auto flex items-center mb-4" src={% static 'logo_blank.png' %} />
    <h2 class="text-2xl">Zgubione hasło :(</h2>

    <form method="post">{% csrf_token %}
    <fieldset class="module aligned">
        <div class="form-row field-email">
        {{ form.email.errors }}
        <div class="flex-container">
            <label for="id_email">Email:</label>
            {{ form.email|add_class:"input" }}
        </div>
        </div>
    </fieldset>
    <div class="submit-row">
        <button class="btn-main mt-4" type="submit">Resetuj hasło</button>
    </div>
    </form>

    <a href="{% url 'account:signin' %}">Powrót</a>
</div>
{% endblock %}
