{% extends 'photo/base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="div-whole mb-22">
    <div class="">
        <div class="card-inner">
            <div class="bg-white p-4 rounded-md shadow mb-6">
                <div class="flex flex-col">
                    <div class="justify-between flex items-center">
                        <div class="text-2xl">{% if photo.custom_name %} {{ photo.custom_name }} {% else %} {{ photo.prediction_1 }} {% endif %}</div>
                        <div class="text-stone-500 text-sm">{{ photo.upload_time|date:"j.n.Y, G:i" }}</div>
                    </div>
                    <img class="my-4 rounded-xs" src="{{ photo.image.url }}" id="image" alt="Twoje zdjęcie">
                </div>

                <div class="">
                    {% if photo.custom_name %}<p>Nazwa została zmieniona przez użytkownika.</p><br>{% endif %}
                    <p>Przewidywania modelu:</p>
                    <p>Rozpoznano na zdjęciu: {{ photo.prediction_1 }}, z prawdopodobieństwem {{ prediction_1_probability|floatformat:1 }}%</p>
                    {% if photo.prediction_1_probability < 70 %}
                        <p>Może być to również: {{ photo.prediction_2 }}, prawdopodobieństwo: {{ photo.prediction_2_probability|floatformat:1 }}%</p>
                    {% endif %}
                    <p>Gatunek zawężony do Polski: {{ photo.prediction_pl }}</p>
                </div>
            </div>

            {% if photo.owner == user %}
            <div class="flex justify-center w-full space-x-8 mb-4">
                <form method="post" action="{% url 'photo:toggle_photo_privacy' photo.uuid %}">
                    {% csrf_token %}
                    <button class='btn-second' type="submit">
                        {% if photo.is_private %}🔒 Upublicznij{% else %}🔓 Prywatne{% endif %}
                    </button>
                </form>

                <form method="post" action="{% url 'photo:delete_photo' photo.uuid %}" onsubmit="return confirm('Jesteś pewien, że chcesz usunąć zdjęcie?');">
                    {% csrf_token %}
                    <button class='btn-second' type="submit">🗑️</button>
                </form>

                <form method="post" action="{% url 'photo:toggle_review' photo.uuid %}">
                    {% csrf_token %}
                    <button class='btn-second' type="submit">
                        {% if photo.review_status != 1 %}📋 Sprawdź{% else %}✅ Zakończ{% endif %}
                    </button>
                </form>
            </div>
            
            <div class="box-content w-content">
                <div role="tablist" class="tabs-xl tabs-lift flex justify-center">
                    <button id="toggle_form_button" class="btn-second m-auto" onclick="toggle_rename_form()">Zmień przypisanie</button>
                </div>
                
                <div id="rename_form" class="hidden bg-white border-stone-100 border-1 rounded-md p-2">
                    <form class="flex" method="post" action="{% url 'photo:rename_photo' photo.uuid %}">
                        {% csrf_token %}
                        <input class="input" type="text" name="custom_name" value="{% if photo.custom_name %}{{ photo.custom_name }}{% endif %}" required>
                        <button type="submit" class="btn">Zapisz</button>
                    </form>
                </div>
            </div>
            
            {% endif %}
            
            <div class="divider"></div>

            {% if photo.review_status == 0 %}
                Zdjęcie nie było sprawdzane.
            {% elif photo.review_status == 1 and photo.is_private %}
                <p style="color: red">Zdjęcie musi być publiczne, aby mogło być sprawdzone przez innych użytkowników</p>
            {% else %}
                <div class="w-3/4">
                    {% if reviews %}
                        {% for review in reviews %}
                            <div class="chat chat-start pb-4">
                                <div class="chat-image avatar">
                                    <div class="w-11 rounded-full"><img src="{{ review.owner.avatar }}" alt="awatar"/></div>
                                </div>
                                <div class="chat-header">
                                    <p class="text-sm mr-4">{{ review.owner.username }} {% if review.owner.score > 99 %}👑{% endif %}</p>
                                    <p class="text-xs opacity-50">{{ review.upload_time|date:"j.n.Y, G:i:s" }}</p>
                                </div>
                                <div class="chat-bubble {% if review.helpful %}bg-green-100{% else %}bg-base-300{% endif%}">
                                    {{ review.review }}
                                </div>

                                <div class="chat-footer flex justify-left p-1">
                                    {% if review.helpful and photo.owner != user %}
                                        <span class="text-green-600 mr-2" title="Komentarz oznaczony, jako pomocny">Pomocny</span>
                                    {% endif %}

                                    {% if photo.owner == user and user != review.owner %}
                                        <form method="post" action="{% url 'photo:toggle_helpful' review.id %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-xs">
                                                {% if review.helpful %}
                                                    ✅ Pomocny
                                                {% else %}
                                                    🟩 Pomocny?
                                                {% endif %}
                                            </button>
                                        </form>
                                    {% endif %}

                                    {% if review.owner == user %}
                                        <span class="">
                                            <form method="post" action="{% url 'photo:delete_review' review.id %}" onsubmit="return confirm('Jesteś pewien, że chcesz usunąć ten komentarz?');">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-xs">
                                                    🗑️
                                                </button>
                                            </form>
                                        </span>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}

                    {% if photo.review_status == 1 %}
                        <legend class="fieldset-legend text-sm">Pomóż w weryfikacji zwierzaka</legend>
                        <form class="flex justify-between" method="post" action="{% url 'photo:post_review' photo.uuid %}">
                            {% csrf_token %}
                            <fieldset class="fieldset w-full mr-4">
                                {{ post_review_form.review|add_class:"input" }}
                            </fieldset>
                            <button class="btn btn-circle bg-stone-300 m-auto" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                                    <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/>
                                </svg>
                            </button>
                        </form>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>

<script>
function toggle_rename_form() {
    var form = document.getElementById('rename_form');
    var button = document.getElementById('toggle_form_button');

    if (form.style.display=='block') {
        form.style.display='none';
        button.innerHTML = 'Zmień przypisanie'
        button.className = 'btn-second'
    } else {
        form.style.display='block';
        button.innerHTML = 'Nie zmieniaj'
        button.className = 'tab tab-active text-xl'
    }
}
</script>
{% endblock %}
