{% extends 'photo/base.html' %}
{% load widget_tweaks %}

{% block content %}
{% if photo.owner == user or user.score > 99 %}
    <style>
        @keyframes swing {
            0% { transform: rotate(0deg); }
            40% { transform: rotate(0deg); }
            50% { transform: rotate(-10deg); }
            60% { transform: rotate(5deg); }
            70% { transform: rotate(-3deg); }
            80% { transform: rotate(2deg); }
            100% { transform: rotate(0deg); }
        }

        .rotate-anim {
            display: inline-block;
            animation: swing 1.5s infinite ease-in-out;
        }
    </style>
{% endif %}

<div class="div-whole mb-22">
    <div class="">
        <div class="card-inner">
            <div class="bg-white p-4 rounded-md shadow mb-6">
                <figure>
                    {% if photo.owner == user or user.score > 99 %}
                    <form method="post" action="{% url 'photo:toggle_review' photo.uuid %}">
                        {% csrf_token %}
                        <button type="submit" class="rotate-anim absolute top-3 right-3 w-16 h-16 object-contain" style="border: none; background: transparent; padding: 0;">
                            <img class="" src="{% if photo.review_status == 1 %}/media/question_mark.png{% else %}/media/check_mark.png{% endif %}">
                        </button>
                    </form>
                    {% else %}
                    <img style="width: 20%; height: 20%" src="{% if photo.review_status == 1 %}/media/question_mark.png{% else %}/media/check_mark.png{% endif %}">
                </figure>
                {% endif %}
                <div class="flex flex-col">
                    <img class="rounded-xs cursor-pointer" src="{{ photo.image.url }}" onclick="showModal(this.src)" alt="Zdjęcie zwierzątka">
                    <div class="justify-between flex items-center">
                        <button id="toggle_form_button" class="btn-second" onclick="rename_modal.showModal()">{% if photo.custom_name %} {{ photo.custom_name }} {% else %} {{ photo.prediction }} {% endif %} ✏️</button>
                        <div class="text-stone-500 text-sm">{{ photo.upload_time|date:"j.n.Y, G:i" }}</div>
                    </div>
                </div>

                <!-- Modal -->
                <dialog id="zoomModal" class="modal">
                    <div class="modal-box max-w-full rounded-sm">
                        <form method="dialog">
                            <button class="btn btn-lg btn-circle btn-ghost absolute right-2 top-2">✕</button>
                        </form>
                        <img id="zoomedImage" class="w-full h-auto rounded-xs" />
                    </div>
                    <form method="dialog" class="modal-backdrop">
                        <button>Close</button>
                    </form>
                </dialog>

                <div class="">
                    <p>Model zaklasyfikował zdjęcie jako {{ photo.prediction }}, z prawdopodobieństwem {{ photo.prediction_confidence |floatformat:1 }}%</p>
                </div>
            </div>

            {% if photo.owner == user %}
                <div class="flex justify-center space-x-8 mb-4">
                    <form method="post" action="{% url 'photo:delete_photo' photo.uuid %}" onsubmit="return confirm('Jesteś pewien, że chcesz usunąć zdjęcie?');">
                        {% csrf_token %}
                        <button class='btn-second' type="submit">🗑️</button>
                    </form>

                    <form>
                        <button id="toggle_form_button" class="btn-second m-auto" onclick="location_modal.showModal()">🌍</button>
                    </form>

                    <form method="post" action="{% url 'photo:toggle_photo_privacy' photo.uuid %}">
                        {% csrf_token %}
                        <button class='btn-second' type="submit">
                            {% if photo.is_private %}🔐{% else %}🔓{% endif %}
                        </button>
                    </form>
                </div>

                <dialog id="rename_modal" class="modal">
                    <div class="modal-box flex flex-col items-center">
                        <form method="dialog">
                            <button class="btn btn-lg btn-circle btn-ghost absolute right-2 top-2">✕</button>
                        </form>
                        <h3 class="text-lg font-bold">Zmień nazwę</h3>
                        <div class="modal-action">
                            <form class="flex" method="post" action="{% url 'photo:rename_photo' photo.uuid %}">
                                {% csrf_token %}
                                <input class="input mr-4" type="text" name="custom_name" value="{% if photo.custom_name %}{{ photo.custom_name }}{% endif %}" required>
                                <button type="submit" class="btn">Zapisz</button>
                            </form>
                        </div>
                    </div>
                    <form method="dialog" class="modal-backdrop">
                        <button>close</button>
                    </form>
                </dialog>

                <dialog id="location_modal" class="modal">
                    <div class="modal-box max-w-full flex flex-col items-center">
                        <form method="dialog">
                            <button class="btn btn-lg btn-circle btn-ghost absolute right-2 top-2">✕</button>
                        </form>
                        {% if photo.owner == user %}
                            <h3 class="text-lg font-bold">Ustaw lokalizację</h3>
                        {% else %}
                            <h3 class="text-lg font-bold">Lokalizacja</h3>
                        {% endif %}
                        <div class="modal-action flex flex-col items-center w-full">
                            {% if photo.owner == user %}
                                Lokalizacja będzie się różniła od ustawionej, aby chronić zwierzę.
                                <div id="map"></div>
                                <form class="text-center" method="post" action="{% url 'photo:set_location' photo.uuid %}">
                                    {% csrf_token %}
                                    <input type="hidden" id="id_lat" name="localization_lat">
                                    <input type="hidden" id="id_lng" name="localization_lng">
                                    <button type="submit" class="btn">Zapisz</button>
                                </form>
                            {% else %}
                                Lokalizacja różni się od prawdziwej, aby chronić zwierzę.
                                <div id="map"></div>
                            {% endif %}
                        </div>
                    </div>
                    <form method="dialog" class="modal-backdrop">
                        <button>close</button>
                    </form>
                </dialog>
            {% endif %}
            
            <div class="divider"></div>

            {% if photo.is_private %}
                Zdjęcie musi zostać upublicznione, aby mogło być weryfikowane przez innych użytkowników
            {% else %}
                <div class="w-3/4">
                    {% if reviews %}
                        {% for review in reviews %}
                            <div class="chat chat-start pb-4">
                                <div class="chat-image avatar">
                                    <div class="w-11 rounded-full"><img src="{{ review.owner.avatar }}" alt="awatar"/></div>
                                </div>
                                <div class="chat-header">
                                    <p class="text-sm mr-4">{{ review.owner.username }} {% if review.owner.score > 99 %}👑{% endif %}</p>
                                    <p class="text-xs opacity-50">{{ review.upload_time|date:"j.n.Y, G:i:s" }}</p>
                                </div>
                                <div class="chat-bubble {% if review.helpful %}bg-green-100{% else %}bg-base-300{% endif%}">
                                    {{ review.review }}
                                </div>

                                <div class="chat-footer flex justify-left p-1">
                                    {% if review.helpful and photo.owner != user %}
                                        <span class="text-green-600 mr-2" title="Komentarz oznaczony, jako pomocny">Pomocny</span>
                                    {% endif %}

                                    {% if photo.owner == user and user != review.owner %}
                                        <form method="post" action="{% url 'photo:toggle_helpful' review.id %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-xs">
                                                {% if review.helpful %}
                                                    ✅ Pomocny
                                                {% else %}
                                                    🟩 Pomocny?
                                                {% endif %}
                                            </button>
                                        </form>
                                    {% endif %}

                                    {% if review.owner == user %}
                                        <span class="">
                                            <form method="post" action="{% url 'photo:delete_review' review.id %}" onsubmit="return confirm('Jesteś pewien, że chcesz usunąć ten komentarz?');">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-xs">
                                                    🗑️
                                                </button>
                                            </form>
                                        </span>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}

                    {% if user.is_authenticated %}
                        <legend class="fieldset-legend text-sm">Pomóż w weryfikacji zwierzaka</legend>
                        <form class="flex justify-between" method="post" action="{% url 'photo:post_review' photo.uuid %}">
                            {% csrf_token %}
                            <fieldset class="fieldset w-full mr-4">
                                {{ post_review_form.review|add_class:"input" }}
                            </fieldset>
                            <button class="btn btn-circle bg-stone-300 m-auto" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                                    <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/>
                                </svg>
                            </button>
                        </form>
                    {% else %}
                        <legend class="fieldset-legend text-sm">Aby pomóc w weryfikacji zwierzaka, zaloguj się.</legend>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>

<script>
    function showModal(src) {
        document.getElementById('zoomedImage').src = src;
        document.getElementById('zoomModal').showModal();
    }
</script>


<style>
    #map {
        height: 400px;
        width: 100%;
        border-radius: 10px;
    }
</style>

<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<script>
    // Initialize the map
    var map = L.map('map').setView([52.237, 21.017], 6); // Center on Poland

    // Add OpenStreetMap tiles
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; OpenStreetMap contributors'
    }).addTo(map);

    // render existing marker
    var marker_prev;
    {% if photo.localization_latitude and photo.localization_longitude %}
    marker_prev = L.marker([{{ photo.localization_latitude | floatformat }}, {{ photo.localization_longitude | floatformat }}]).addTo(map).bindPopup('{% if photo.custom_name %} {{ photo.custom_name }} {% else %} {{ photo.prediction_1 }} {% endif %}');
    {% endif %}

    {% if photo.owner == user %}
    // On map click, set marker and update hidden inputs
    var marker;
    function onMapClick(e) {
        if (marker) {
            map.removeLayer(marker);
        }
        if (marker_prev) {
            map.removeLayer(marker_prev);
        }

        marker = L.marker(e.latlng).addTo(map);
        document.getElementById("id_lat").value = e.latlng.lat;
        document.getElementById("id_lng").value = e.latlng.lng;
    }

    map.on('click', onMapClick);
    {% endif %}
</script>

{% endblock %}
