{% extends 'photo/base.html' %}

{% block content %}
<div class="div-whole mb-18">
    <div class="">
        <div class="card-inner">
            <div class="flex flex-col">
                <div class="justify-between p-2 flex items-center">
                    <div class="text-2xl">{% if prediction_1 %} {{ photo.prediction_1_clean }} {% else %} <p>Wystąpił błąd podczas klasyfikacji.</p> {% endif %}</div>
                    <div class="text-stone-500 text-sm">{{photo.upload_time}}</div>
                </div>
                <img class="my-2 rounded-xs" src="{{ photo.image.url }}" id="image" alt="Twoje zdjęcie">
            </div>

            {% if photo.owner == user %}
            <div class="flex justify-evenly w-full mb-4">
                <form method="post" action="{% url 'photo:toggle_photo_privacy' photo.uuid %}">
                    {% csrf_token %}
                    <button class='btn-second' type="submit">
                        {% if photo.is_private %}🔒 Prywatne{% else %}🔓 Publiczne{% endif %}
                    </button>
                </form>

                <form method="post" action="{% url 'photo:delete_photo' photo.uuid %}" onsubmit="return confirm('Jesteś pewien, że chcesz usunąć zdjęcie?');">
                    {% csrf_token %}
                    <button class='btn-second' type="submit">🗑️</button>
                </form>

                <form method="post" action="{% url 'photo:toggle_review' photo.uuid %}">
                    {% csrf_token %}
                    <button class='btn-second mb-4' type="submit">
                        {% if photo.review_status != 1 %}📋 Sprawdź{% else %}✅ Sprawdzone{% endif %}
                    </button>
                </form>
            </div>
            {% endif %}

            <div class="divider"></div>

            {% if photo.review_status == 0 %}
                Zdjęcie nie było sprawdzane.
            {% elif photo.review_status == 1 and photo.is_private %}
                <p style="color: red">Zdjęcie musi być publiczne, aby mogło być sprawdzone przez innych użytkowników</p>
            {% else %}
                {% if reviews %}
                    <div>
                        {% for review in reviews %}
                            <div class="chat chat-start pb-4">
                                <div class="chat-image avatar">
                                    <div class="w-10 rounded-full bg-stone-400">{{ review.owner.username }}</div>
                                </div>
                                <div class="chat-header">
                                    <p class="text-sm mr-4">{{ review.owner.username }}</p>
                                    <p class="text-xs opacity-50">{{ review.upload_time }}</p>
                                </div>
                                <div class="chat-bubble {% if review.helpful %}bg-green-100{% else %}bg-base-300{% endif%}">
                                    {{ review.review }}
                                </div>

                                <div class="chat-footer flex justify-between size-9/10 p-1">
                                    {% if review.helpful and photo.owner != user %}
                                        <span class="text-green-600" title="Komentarz oznaczony, jako pomocny">Pomocny</span>
                                    {% endif %}

                                    {% if photo.owner == user %}
                                        <form method="post" action="{% url 'photo:toggle_helpful' review.id %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-xs">
                                                {% if review.helpful %}
                                                    ✅ Pomocny
                                                {% else %}
                                                    🟩 Pomocny?
                                                {% endif %}
                                            </button>
                                        </form>
                                    {% endif %}

                                    {% if review.owner == user %}
                                        <span class="">
                                            <form method="post" action="{% url 'photo:delete_review' review.id %}" onsubmit="return confirm('Jesteś pewien, że chcesz usunąć ten komentarz?');">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-xs">
                                                    🗑️
                                                </button>
                                            </form>
                                        </span>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if photo.review_status == 1 %}
                    <form class="mb-4 w-3/5 h-1/6" method="post" action="{% url 'photo:post_review' photo.uuid %}">
                        {% csrf_token %}
                        <fieldset class="fieldset">
                            <legend class="fieldset-legend">Pomóż w weryfikacji zwierzaka</legend>
                            {{ post_review_form }}
                        </fieldset>

                        <div class="flex justify-end mt-2">
                            <button class="btn-main" type="submit">Dodaj</button>
                        </div>
                    </form>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}