{% extends 'photo/base.html' %}
{% load static %}

{% block content %}
<div class="div-whole">
    <div class="size-1/4 m-auto flex items-center mb-4">
        <img src={% static 'logo_blank.png' %} />
    </div>

    <div class="">
        <div class="card-inner">
            <h2 class="card-title text-xl mb-6">Wyślij zdjęcie do rozpoznania</h2>

            {% if form.errors %}
                <div id="error1" class="bg-rose-100 alert alert-error mb-4 block text-center">
                    <p class="text-lg">Wystąpił błąd w formularzu :(</p>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p class="">❌ {{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% elif error %}
                <div id="error2" class="bg-rose-100 alert alert-error mb-4 block text-center w-fit">
                    <p class="text-error text-rose-900">{{error}}</p>
                </div>
            {% endif %}

            <form class="space-y-8" id="uploadPhotoForm" action="{% url 'photo:upload' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-control space-y-4 flex flex-col items-center">
                    <fieldset class="fieldset">
                        {{ form.image_file }}
                        <label class="label">Maksymalnie 10MB</label>
                    </fieldset>
                    <fieldset class="fieldset bg-stone-50 border-base-300 rounded-box w-fit border p-2">
                        <label class="label text-lg">
                            {{ form.is_private }}
                            Prywatne
                        </label>
                    </fieldset>
                </div>
                <button class="btn-main w-full">Wyślij</button>
            </form>
            
            <div class="text-center hidden" id="loading">
                <p style="text-aling:center">Próbuję rozpoznać zwierzaka</p>
                <span class="loading loading-ring loading-xl"></span>
            </div>
        </div>
    </div>
</div>

<script>
document.getElementById('uploadPhotoForm').addEventListener('submit', function () {
    let error1 = document.getElementById('error1');
    let error2 = document.getElementById('error2');
    if (error1 != null) {
        error1.style.display = 'none';
    }
    if (error2 != null) {
        error2.style.display = 'none';
    }
    document.getElementById('uploadPhotoForm').style.display = 'none';
    document.getElementById('loading').style.display = 'block';
})
</script>

{% endblock %}