{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Przeglądaj zdjęcia</title>
    <link rel="stylesheet" href="{% static 'gallery/style.css' %}">
</head>
<body>
    <div class="buttons-container">
        <a class="button" href="{% url 'photo:upload' %}">Wyślij zdjęcie</a>
        <a class="button" href="{% url 'account:settings' %}">Przejdź do ustawień</a>
    </div>

    <div class="browse-container">
        <a class="button" href="{{ redirection_url }}">{{ redirection_text }}</a>
        <div>
            {% if photos %}
                {% for photo in photos %}
                    <a href="{% url 'photo:photo_detail' photo.uuid %}">
                        <h3>{{ photo.prediction_1_clean }}</h3>
                        <img src={{ photo.image.url }} alt="Zdjęcie zwierzątka">
                    </a>
                {% endfor %}
            {% else %}
                <p>Brak zdjęć</p>
            {% endif %}
        </div>
    </div>
</body>
</html>
