{% extends 'base.html' %}

{% block content %}
<div class="browse-container">
    <div role="tablist" class="tabs tabs-lift">
        <a role="tab" class="tab" href="{% url 'gallery:browse_my' %}">Moje</a>
        <a role="tab" class="tab tab-active" href="{% url 'gallery:browse' %}">Innych</a>
        <a role="tab" class="tab" href="{% url 'gallery:browse_reviews' %}">Do weryfikacji</a>
    </div>

    <div>
        {% if photos %}
            {% for photo in photos %}
                <a href="{% url 'photo:photo_detail' photo.uuid %}">
                    <h3>{{ photo.prediction_1_clean }}</h3>
                    <img class="rounded-lg" src={{ photo.image.url }} alt="Zdjęcie zwierzątka">
                </a>
            {% endfor %}
        {% else %}
            <p>Brak zdjęć</p>
        {% endif %}
    </div>
</div>
{% endblock %}
