{% extends 'account/base_not_logged.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="flex flex-col text-center space-y-6 mb-16">
    <img class="w-[200px] m-auto flex items-center mb-4" src={% static 'logo_blank.png' %} />
    <h2 class="text-2xl">Tworzenie konta</h2>

    <form action="{% url 'account:signup' %}" method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <fieldset class="fieldset">
            {{ form.username.label_tag }}
            {{ form.username.errors }}
            {{ form.username|add_class:"input" }}
        </fieldset>

        <fieldset class="fieldset">
            {{ form.password1.label_tag }}
            {{ form.password1.errors }}
            {{ form.password1|add_class:"input" }}
        </fieldset>

        <fieldset class="fieldset">
            {{ form.password2.label_tag }}
            {{ form.password2.errors }}
            {{ form.password2|add_class:"input" }}
        </fieldset>

        <button class="btn-main mt-4" type="submit">Zarejestruj się</button>
    </form>

    <a class="btn text-lime-800" href="{% url 'account:signin' %}">Mam już konto</a>
</div>
{% endblock %}
