{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Przeglądanie zdjęć</title>
    <link rel="stylesheet" href="{% static 'photo/style.css' %}">
</head>

<body>
    <div class="buttons-container">
        <a class="button" href="{% url 'gallery:browse' %}">Przejdź do galerii</a>
        <a class="button" href="{% url 'account:settings' %}">Przejdź do ustawień</a>
        <a class="button" href="{% url 'photo:upload' %}">Wyślij zdjęcie</a>
    </div>

    <div class="upload-container">
        <img src="{{ photo.image.url }}" id="image" alt="Twoje zdjęcie">
        <p>Data dodania: {{photo.upload_time}}</p>
        {% if photo.is_private %}
        <p>Zdjęcie jest prywatne</p>
        {% else %}
        <p>Zdjęcie jest publiczne</p>
        {% endif %}

        {% if photo.owner == user %}
        <form method="post" action="{% url 'photo:toggle_photo_privacy' photo.uuid %}">
            {% csrf_token %}
            <button type="submit">
                {% if photo.is_private %}Zmień zdjęcie na publiczne{% else %}Zmień zdjęcie na prywatne{% endif %}
            </button>
        </form>
        {% endif %}

        {% if prediction_1 %}
        <p>Wykryto na zdjęciu: {{ prediction_1 }}</p>
        {% else %}
        <p>Klasyfikacja zwierzęcia jeszcze się nie zakończyła, lub wystąpił błąd.</p>
        {% endif %}

        {% if photo.owner == user %}
            <form method="post" action="{% url 'photo:delete_photo' photo.uuid %}" onsubmit="return confirm('Jesteś pewien, że chcesz usunąć zdjęcie?');">
                {% csrf_token %}
                <button type="submit">❌ Usuń zdjęcie</button>
            </form>
        {% endif %}

        {% if photo.owner == user %}
        <form method="post" action="{% url 'photo:toggle_review' photo.uuid %}">
            {% csrf_token %}
            <button type="submit">
                {% if photo.review_status != 1 %}Oznacz zdjęcie do sprawdzenia{% else %}Oznacz zdjęcie jako sprawdzone{% endif %}
            </button>
        </form>
        {% endif %}

        {% if photo.review_status == 0 %}
            Zdjęcie nie było sprawdzane.
        {% elif photo.review_status == 1 and photo.is_private %}
            <p style="color: red">Zdjęcie musi być publiczne, aby mogło być sprawdzone przez innych użytkowników</p>
        {% else %}
            <form method="post" action="{% url 'photo:post_review' photo.uuid %}">
                {% csrf_token %}
                {{ post_review_form }}
                <button type="submit">Dodaj</button>
            </form>

            {% if reviews %}
                {% for review in reviews %}
                    <div class='review'>
                        <div class='review_upper'>
                            {{ review.owner.username }} | {{ review.upload_time }}

                            {% if photo.owner == user %}
                                <form method="post" action="{% url 'photo:toggle_helpful' review.id %}">
                                    {% csrf_token %}
                                    <button type="submit">
                                        {% if review.helpful %} ✅ Odznacz pomocność {% else %} 🟩 Pomocny komentarz {% endif %}
                                    </button>
                                </form>
                            {% else %}
                                {% if review.helpful %}
                                    <p style="color:green">✅ Pomocny komentarz</p>
                                {% endif %}
                            {% endif %}

                            {% if review.owner == user %}
                                <form method="post" action="{% url 'photo:delete_review' review.id %}" onsubmit="return confirm('Jesteś pewien, że chcesz usunąć ten komentarz?');">
                                    {% csrf_token %}
                                    <button type="submit">🗑️</button>
                                </form>
                            {% endif %}
                        </div>
                        <div class='review_main'>
                            {{ review.review }}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Jeszcze nikt nie pomógł, możesz być pierwszy :)</p>
            {% endif %}
        {% endif %}
    </div>
</body>
</html>
