{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dodaj zdjęcie</title>
    <link rel="stylesheet" href="{% static 'photo/style.css' %}">
</head>

<body>
    <div class="buttons-container">
        <a class="button" href="{% url 'gallery:browse' %}">Przejdź do galerii</a>
        <a class="button" href="{% url 'account:settings' %}">Przejdź do ustawień</a>
    </div>

    <div class="upload-container">
        <h2>Wyślij zdjęcie do rozpoznania</h2>

        <form action="{% url 'photo:classify_image' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input id="fileupload" name="myfile" type="file" />
            <button type="submit">Wyślij</button>
        </form>
        
        <img src="{% static 'photo/images/upload_image.webp' %}">
    </div>
</body>
</html>
